.images,
.map {
  box-shadow: 0 0 10px 0px #0000007a;
  border-radius: 5px;
  transition: all 0.5s ease;
  height: 100%;
  width: 100%;
}

.images:hover,
.map:hover {
  scale: 1.03;
}

@media (max-width: 576px) {
  .map,
  .images {
    height: 170.8px;
    width: 246px;
  }
}
