.map,
.description {
  transition: all 0.5s ease;
  width: 100%;
}

.map {
  height: 100%;
}

.description {
  position: absolute;
  text-decoration: none;
  bottom: -60px;
  cursor: default;
  color: #fff;
}

.map:hover {
  scale: 1.03;
}
