.map,
.description {
  transition: all 0.5s ease;
}

.map {
  position: relative;
  background-image: url(../assets/images/blurred-map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 2/1.2;
}

.description {
  text-decoration: none;
  cursor: default;
  color: #fff;
}

.map:hover {
  scale: 1.03;
}
