.map {
  transition: all 0.5s ease;
  box-shadow: 0 0 10px 0px #0000007a;
  height: 100%;
  width: 100%;
}

.description {
  position: absolute;
  text-decoration: none;
  bottom: -60px;
  text-align: center;
  width: 100%;
  cursor: default;
  color: #fff;
  transition: all 0.5s ease;
}

.map:hover {
  scale: 1.03;
}