.MainImg,
.blurredImg {
  box-shadow: 0px 0px 20px 0px #000;
}

.MainImg {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.blurredImg::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: pulsating 2s infinite;
  background: #fff;
  border-radius: 5px;
}

.blurredImg {
  position: relative;
  background-image: url(../assets/images/blury-resturant.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin-top: 10px;
}

.blurredImg.loaded::before {
  content: none;
  animation: none;
}

.blurredImg.loaded img {
  opacity: 1;
}

@keyframes pulsating {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 10%;
  }

  100% {
    opacity: 0%;
  }
}
