.blurredImg {
  background-image: url(../assets/images/blury-resturant.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: pulse 2s infinite;
  height: 100%;
  width: 100%;
}

.blurredImg.loaded {
  animation: none;
}

.blurredImg img {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.blurredImg.loaded img {
  opacity: 1;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
