.container {
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0 0 10px 0 #0000006e;
}

.container:hover {
  filter: contrast(120%);
  scale: 1.03;
}

.background {
  background-color: #00000090;
}

.img {
  transition: opacity 250ms ease-in-out;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  background: #000000a0;
  width: 100%;
}
