.container,
.background {
  height: 200px;
  width: 200px;
}

.container {
  cursor: pointer;
  transition: all 0.5s ease;
}

.container:hover {
  filter: contrast(120%);
  scale: 1.03;
}

.background {
  box-shadow: 0 0 10px 0 #0000006e;
  background-color: #00000090;
}

.img {
  transition: opacity 250ms ease-in-out;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  background: #000000a0;
  width: 200px;
}

@media (max-width: 767px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 479px) {
  .container {
    width: 100%;
  }
}
