.Navbar {
  background-color: #f6b319;
}

.navbarHeader {
  font-family: glyphicons-regular;
  color: darkolivegreen;
  text-shadow: 1px 1px 0px #000;
  width: 100%;
}

.kosher,
.navbarHeader {
  cursor: default;
}

.kosher {
  color: #000;
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media (min-width: 992px) {
  .navbarHeader {
    font-size: x-large;
  }
}
