.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(130deg, #f0f0f0 25%, #262626 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: waving 1.5s infinite;
  opacity: 0.05;
}

@keyframes waving {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}
